%footer
  .container
    .row#footer_top
      .span3
        %h2 Ссылки
        %ul.nav
          %li= link_to t('.ulmic_forest_school'), "http://ulmic.ru/programms/events/details/1175"

      .span4
        %h2 Принимают участие
        %ul.nav
          %li= link_to t('.ulmic'), "http://ulmic.ru"
          %li= link_to t('.departament'), "http://www.mpol.ulgov.ru/"
          %li= link_to t('.np_short'), "http://itc73.ru"
          %li= link_to t('.ulsk_it'), "http://ulsk.it"
      .span3
        %h2 Поделиться
        %span.st_facebook_large
        %span.st_vkontakte_large
        %span.st_twitter_large
        %span.st_plusone_large
        %span.st_email_large

    .row#footer_bottom
      .span10
        %p
          &copy; УОМОО "МИЦ"
          %br
          &copy; НП "Содействие развитию ИТ"

          %br
          = mail_to configus.mail.main
= javascript_include_tag "application", 'http://w.sharethis.com/button/buttons.js',
  'http://s.sharethis.com/loader.js'
