= javascript_include_tag  "jquery-1.10.1.min.js"
= stylesheet_link_tag 'fotorama'
= javascript_include_tag 'fotorama'

.row
  .span5
    %h3 Фото
    - if @album.model && @album.photos.any?
      .fotorama{ "data-transition" => "crossfade", "data-autoplay" => "true", "data-loop" => "true", "data-width" => "500px","data-ratio" => "1200/900" }
        - @album.shuffle_photos.each do |photo|
          = image_tag photo.image_url, "data-caption" => photo.name
      %p= link_to "Все фотоальбомы c Deadline 2012", photo_albums_path, :class => 'btn'
  .offset1.span6
    %h4 Лесная школа программирования Deadline 2012
    %p
      Идея вывести в лагерь и прокачать несколько десятков студентов появилась на первой конференции
      %a{ href: "", onclick: "window.open('http://nastachku.ru')" }"Стачка!"
      в 2012 году. На том мероприятии
      %a{ href: "", onclick: "window.open('http://ulmic.ru')" }Молодёжный инициативный центр
      совместно с Некоммерческим партнёрством "Содействие развитию ИТ" договорились о том, что летом совместно проведут лесную школу программирования для студентов.
    %p После нескольких месяцев подготовки МИЦ и НП, состоящее на тот момент из 7 ИТ-компаний Ульяновска, провели самую первую в Ульяновской области выездную школу для программистов. На мероприятие приехали 30 молодых программистов (в основном это были студенты), которые прошли отбор по резюме и тестовому заданию. С 9 по 16 июля на базе станции отдыха "Русский берег" и прошёл первый Deadline.
    %p По приезду ребят разделили на команды и каждая команда делала свой собственный программный продукт. Среди реализуемых приложений были социальные сети, системы управления гостиницами, системы покупки автобусных билетов и многие другие. Участникам всего за 7 дней удалось реализовать интересные и, в некоторых случаях, не имеющие аналогов проекты. Но они делали это не совсем самостоятельно. Представители ИТ-компаний организаторов, постоянно присутствовали в лагере - помогали, наставляли, указывали на ошибки участников.
    %p Среди представителей компаний были разработчики, тестировщики и даже директора, некоторые из них присутствовали на мероприятии по двое суток! В итоге общее количество специалистов, посетивших Deadline, оказалось больше, чем количество участников. Специалисты рассказывали о технологиях, языках программирования, рабочем окружении, хороших практиках. И это принесло свои плоды: к концу мероприятия участниками были разработаны проекты на C#, PHP и немного на Python :)
    %p В конце мероприятия приехал губернатор Ульяновской области Сергей Морозов и послушал презентации команд-участников.
    %p Главным результатом Deadline 2012 стало то, что 5 участников смогли найти себе работу в качестве разработчика после мерпориятия, в их числе были и те, кто устроился на работу в компании, которые организовали Deadline. Также после мероприятия, сложилась развивающаяся команда молодых программистов, которая в течение года помогает Молодёжному инициативному центру реализовать свои проекты.

.row
  .span10
  - if @news.any?
    %h3 Новости Deadline 2012
    - @news.each do |n|
      .well
        %a.b-news{:href => news_path(n)}
          %h4= n.name
        - if n.published_at?
          .help-block= l n.published_at, :format => :news
        != truncate_sanitize_rem_br n.body, 250
    .news_link= link_to "Все новости про Deadline 2012", news_first_deadline_index_path, :class => 'btn'
