.row
  .span6
  - if @album.model && @album.photos.any?
    .row
      .span6
        .fotorama{ "data-transition" => "crossfade", "data-autoplay" => "true", "data-loop" => "true", "data-width" => "500px","data-ratio" => "1200/900" }
          - @album.shuffle_photos.each do |photo|
            = image_tag photo.image_url, "data-caption" => photo.name
      %p= link_to "Все фотоальбомы", photo_albums_path
  .span6
  - if @news.any?
    %h3 Новости Deadline 2012
    - @news.each do |n|
      .well
        %a.b-news{:href => news_path(n)}
          %h4= n.name
        - if n.published_at?
          .help-block= l n.published_at, :format => :news
        != truncate_sanitize_rem_br n.body, 250
    .news_link= link_to "Все новости про Deadline 2012", news_first_deadline_index_path, :class => 'btn'
