= stylesheet_link_tag "web/news"

%h2= @news.name
= image_tag @news.photo, class: "img-polaroid main_photo"
- if @news.published_at?
  .help-block= l @news.published_at, :format => :news
!= @news.body
