= javascript_include_tag  "jquery-1.10.1.min.js"
= stylesheet_link_tag 'fotorama'
= javascript_include_tag 'fotorama'

.row.landing_top
  .span6
    %h2 16 - 21 августа 2013 года
    %h3 Выездной обучающий семинар для молодёжи, которая хочет работать в сфере ИТ, в частности, заниматься разработкой программных продуктов. Участники в течение нескольких дней будут работать над продуктом.
    - if member_signed_in?
      %a.btn.btn-success.btn-large{:href => page_path(program_page) }
        %i.icon-chevron-right
        = program_page
      %a.btn.btn-primary.btn-large{:href => edit_account_path }
        %i.icon-chevron-right
          Профиль
    - else
      - if can_registred?
        %a.btn.btn-success.btn-large{:href => new_member_path}
          %i.icon-chevron-right
          Регистрация
      %a.btn.btn-primary.btn-large{:href => new_session_path}
        %i.icon-chevron-right
          Вход

  .span6
  - if @photo_album.model && @photo_album.photos.any?
    .row
      .span6
        .fotorama{ "data-transition" => "crossfade", "data-autoplay" => "true", "data-loop" => "true", "data-width" => "500px","data-ratio" => "1200/900" }
          - @photo_album.sorted_photos.each do |photo|
            = image_tag photo.image_url, "data-caption" => photo.name
        %p= link_to "Все фотоальбомы", photo_albums_path

.center.splitter
  = image_tag 'grey_out.png'
.row
  .span12
    .row.landing_lower
      .span9
        - if @news.any?
          %h3 Новости
          - @news.each do |n|
            .well
              %a.b-news{:href => news_path(n)}
                %h4= n.name
              - if n.published_at?
                .help-block= l n.published_at, :format => :news
              != truncate_sanitize_rem_br n.body, 250
          .news_link= link_to "Все новости", news_index_path
      .span3
        = render 'layouts/shared/twitter_widget'
        = render 'layouts/shared/subscribe_widget'


.center.splitter
  = image_tag 'grey_out.png'
.row
  .span12
    .row.landing_lower
      .span4
        %h4 Кто наша аудитория?
        %p Молодёжь в возрасте до 18 лет включительно, желающая работать в будущем в ИТ-сфере.
      .span4
        %h4 Зачем это нужно?
        %ul
          %li Создание площадки для самореализации будущих специалистов
          %li Обмен опытом между участниками и действующими специалистами ведущих компании по разработке программного обеспечения г.Ульяновска
          %li Создание «движухи» для молодых программистов Ульяновской области. Мероприятие реализуется на общественных началах. Лесная школа Deadline стала традиционной и проводится уже второй год.
      .span4
        %h4 За чей счёт?
        %p Для участников мероприятие будет
          %b бесплатным!!1
        %p Проживание, питание, доставка участников до места назначения и обратно будут организованы Департаментом молодёжной политики и Молодёжным инициативным центром.
        %p Каждый участник должен иметь при себе личный ноутбук и желание плодотворно поработать.
      .span4
        %h4 Что с собой взять?
        %p Каждый участник должен иметь при себе желание плодотворно поработать, копию паспорта (свидетельства о рождении), оригинал медицинского полиса.
        %p Все участники обучающей смены должны также сделать прививку от клещевого энцефалита. Если сделать её не успели или не смогли, то необходимо предоставить МИЦ заявление от родителей (для несовершеннолетних) или от себя (для людей старше 18 лет) о том, что ответственность за жизнь и здоровье в связи с клещевым энцефалитом с организаторов снимается.

.center.splitter
  = image_tag 'grey_out.png'
.row.landing_bottom
  .span12
    %h4 Организаторы
    .span2
      %a{:href => 'http://www.ulmic.ru/'}
        = image_tag 'picture_mic.png', :class => "logo_sponsor"
    .span2
      %p
        Некоммерческое
        %br
        Партнерство
        %br
        Содействия
        %br
        Развитию ИТ
    .span2
      %a{:href => "http://ulgov.ru/"}
        = image_tag '3_logo_ul_gov.png', :class => "logo_sponsor"
    .span2
      = image_tag '4_logo_department.png', :class => "logo_sponsor"
    .span2
      %a{:href => "http://itc73.ru/"}
        = image_tag '5_logo_itc.png'
.row.landing_bottom
  .span12
    .span2
      %a{:href => "http://kaize.ru/"}
        = image_tag '6_logo_kaize.png'
    .span2
      %a{:href => "http://www.simtech.ru/"}
        = image_tag '7_logo_simtech.png'
    .span2
      %a{:href => "http://m-st.ru/"}
        = image_tag '8_logo_mst.png'
    .span2
      %a{:href => "http://simbirsoft.com/"}
        = image_tag '9_logo_simbirsoft.png'
    .span2
      %a{:href => "http://itmcompany.ru/"}
        = image_tag '10_logo_itm.png'
.row.landing_bottom
  .span12
    .span2
      %a{:href => "http://interra-group.ru/"}
        = image_tag 'logo_interra.png'
    .span2
      %a{:href => "http://mymediacompany.ru/"}
        = image_tag 'logo_mmc.png'
