= javascript_include_tag  "jquery-1.10.1.min.js"
= stylesheet_link_tag 'fotorama'
= javascript_include_tag 'fotorama'
= stylesheet_link_tag 'admin/news'

.row.landing_top
  .span6
    %h2 22 - 26 августа 2013 года
    %h3 Выездной обучающий семинар для молодёжи, которая хочет работать в сфере ИТ, в частности, заниматься разработкой программных продуктов. Участники в течение нескольких дней будут обучаться основам программирования.
    %small Участником может стать любой желающий в возрасте от 14 до 18 лет включительно!
    - if member_signed_in?
      %a.btn.btn-primary.btn-large{:href => edit_account_path }
        %i.icon-chevron-right
          Профиль
    - unless member_signed_in?
      - if can_registred?
        %a.btn.btn-success.btn-large{ :href => new_member_path }
          %i.icon-chevron-right
          Регистрация
      %a.btn.btn-primary.btn-large{ :href => login_members_path }
        %i.icon-chevron-right
          Вход
  .span6
    %a{ href: first_deadline_index_path }
      %h4 Deadline 2012
  - if @photo_album.model && @photo_album.photos.any?
    .row
      .span6
        .fotorama{ "data-transition" => "crossfade", "data-autoplay" => "true", "data-loop" => "true", "data-width" => "400px","data-ratio" => "1200/900" }
          - @photo_album.sorted_photos.each do |photo|
            = image_tag photo.image_url, "data-caption" => photo.name
        %p= link_to "Все фотоальбомы", photo_albums_path

.center.splitter
  = image_tag 'grey_out.png'
.row
  .span12
    .row.landing_lower
      .span9
        - if @news.any?
          %h3 Новости Лесной школы ИТ 2013
          - @news.each do |n|
            .well
              - if n.photo.present?
                = image_tag n.photo.thumb
              %a.b-news{:href => news_path(n)}
                %h4= n.name
              - if n.published_at?
                .help-block= l n.published_at, :format => :news
              != truncate_sanitize_rem_br n.body, 250
          .news_link= link_to "Все новости", news_index_path, :class => 'btn'
      .span3
        = render 'layouts/shared/twitter_widget'


.center.splitter
  = image_tag 'grey_out.png'
.row
  .span12
    .row.landing_lower
      .span6
        %h4 Кто наша аудитория?
        %p Молодёжь в возрасте до 18 лет включительно, желающая работать в будущем в ИТ-сфере.
      .span6
        %h4 Зачем это нужно?
        %ul
          %li Создание площадки для самореализации будущих специалистов
          %li Обмен опытом между участниками и действующими специалистами ведущих компании по разработке программного обеспечения г.Ульяновска
          %li Создание «движухи» для молодых программистов Ульяновской области. Мероприятие реализуется на общественных началах. Лесная школа Deadline стала традиционной и проводится уже второй год.
      .span6
        %h4 За чей счёт?
        %ul
          %li Для участников мероприятие будет бесплатным!!!
          %li Проживание, питание, доставка участников до места назначения и обратно будут организованы Департаментом молодёжной политики и Молодёжным инициативным центром.
      .span6
        %h4 Что с собой взять?
        %ul
          %li Каждый участник должен иметь при себе желание плодотворно поработать, копию паспорта (свидетельства о рождении), оригинал медицинского полиса.
          %li Все участники обучающей смены должны также сделать прививку от клещевого энцефалита. Если сделать её не успели или не смогли, то необходимо предоставить МИЦ заявление от родителей (для несовершеннолетних) или от себя (для людей старше 18 лет) о том, что ответственность за жизнь и здоровье в связи с клещевым энцефалитом с организаторов снимается.

.center.splitter
  = image_tag 'grey_out.png'
.row.landing_bottom
  .span12
    %h4 Организаторы
    .span2
      %br
      %a{:href => 'http://www.ulmic.ru/'}
        = image_tag 'picture_mic.png', :class => "logo_org"
    .span2
      = image_tag '4_logo_department.png', :class => "logo_org"
.row.landing_bottom
  .span12
    %h4 Информационные партнёры
    %br
    .span4
      = image_tag 'http://nastachku.ru/images/logo-srit.jpg'
